<div class="container mt-4">

    <div class="profile-header text-center mb-4">
        <img src="~/images/profile.jpg" class="rounded-circle" width="100" height="100" />
        <h2>Nome Utente</h2>
    </div>


    <div class="d-md-none mb-3">
        <div class="btn-group w-100" role="group">
            <button class="btn btn-outline-primary" onclick="showSection('rank')">Rank</button>
            <button class="btn btn-outline-primary" onclick="showSection('stats')">Statistiche</button>
            <button class="btn btn-outline-primary" onclick="showSection('tournaments')">Miei Tornei</button>
            <button class="btn btn-outline-primary" onclick="showSection('awards')">Premi</button>
        </div>
    </div>


    <div class="row">

        <div class="col-md-6 mb-3 section-box" id="section-rank">
            <div class="card p-3">Contenuto Rank</div>
        </div>


        <div class="col-md-6 mb-3 section-box" id="section-stats">
            <div class="card p-3">Contenuto Statistiche</div>
        </div>


        <div class="col-md-6 mb-3 section-box" id="section-tournaments">
            <div class="card p-3">Contenuto Tornei</div>
        </div>


        <div class="col-md-6 mb-3 section-box" id="section-awards">
            <div class="card p-3">Contenuto Premi</div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        function showSection(sectionId) {

          document.querySelectorAll('.section-box').forEach(div => div.classList.remove('active'));


          document.getElementById('section-' + sectionId).classList.add('active');
        }

        window.addEventListener("DOMContentLoaded", function () {
          if (window.innerWidth < 768) {
            showSection('rank');
          }
        });
    </script>
}

@section styles {
	<style>
        @@media (max-width: 767.98px) {
            .section-box {
                display: none;
            }

            .section-box.active {
                display: block !important;
            }

        }
    </style>
}