@{
    ViewData["Title"] = "Register";
    ViewData["ShowHeader"] = false;
}

<div class="bg-primary min-vh-100">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="logo-home" href="@Url.Action(MVC.Home.Index())"><img class="logo-home" src="~/images/Home.svg" /></a>
            <h1>LOGO</h1>
            <a href="@Url.Action(MVC.Login.Login())" class="btn btn-primary">Accedi</a>
        </div>
    </nav>
    <p class="text-dark fw-bold fs-2  mt-5">Iscriviti per affrontare nuove sfide<br /> e ottenere numerosi premi</p>

</div>