@{
    ViewData["Title"] = "Tabellone";
}

<div class="container-fluid bg-secondary pb-5">

    <h2 class="text-center pt-5">Guarda tutti i risultati</h2>

    <div class="d-flex justify-content-center mt-4">
        <form class="d-flex w-75 text-center">
            <input class="form-control me-3 rounded-4" type="search" placeholder="Cerca un giocatore..." aria-label="Search">
            <button class="btn btn-primary rounded-5" type="submit"><img src="~/images/Search.svg" style="width:32px; height:32px;" /></button>
        </form>
    </div>

    <div class="container mt-5">
        <div class="d-flex gap-2 justify-content-center">

            <div class="d-flex flex-column" style="width: 80px; height: 120px;">
                <button class="btn btn-sel-draw flex-fill" v-on:click="selectBtn = 0" v-bind:class="selectBtn == 0? 'selected-draw' : ''"><img src="~/images/6-LinesDraw.svg" /></button>
                <button class="btn btn-sel-draw flex-fill mt-2" v-on:click="selectBtn = 1" v-bind:class="selectBtn == 1? 'selected-draw' : ''"><img src="~/images/6-LinesDraw.svg" /></button>
            </div>

            <button class="btn btn-sel-draw" style="width: 80px; height: 120px;" v-on:click="selectBtn = 2" v-bind:class="selectBtn == 2? 'selected-draw' : ''"><img src="~/images/4R-Draw.svg" /></button>
            <button class="btn btn-sel-draw" style="width: 80px; height: 120px;" v-on:click="selectBtn = 3" v-bind:class="selectBtn == 3? 'selected-draw' : ''"><img src="~/images/QF-Draw.svg" /></button>
            <button class="btn btn-sel-draw" style="width: 80px; height: 120px;" v-on:click="selectBtn = 4" v-bind:class="selectBtn == 4? 'selected-draw' : ''"><img src="~/images/SF-Draw.svg" /></button>


            <button class="btn btn-sel-draw d-flex align-items-center justify-content-center" style="width: 80px; height: 120px;" v-on:click="selectBtn = 5" v-bind:class="selectBtn == 5? 'selected-draw' : ''"><img src="~/images/Trophy.svg" /></button>
        </div>
    </div>

    <!--Primo card-->
    <div class="tennis-card d-flex align-items-center bg-white rounded-4 p-3 py-4 mt-3" style="max-width: 750px; margin: 0 auto;">

        <!-- Colonna sinistra: nomi e separatore -->
        <div class="col-name d-flex flex-column justify-content-center">
            <div class="d-flex align-items-center mb-4 ms-1">
                <img src="~/images/Diamond.svg" class="player-icon" />
                <span class="ms-2">J. Sinner</span>
            </div>

            <hr class="separator my-1" />

            <div class="d-flex align-items-center mt-4 ms-1">
                <img src="~/images/Diamond.svg" class="player-icon" />
                <span class="ms-2">H. Rune</span>
            </div>
        </div>

        <!-- Colonna destra: punteggi -->
        <div class="col-points d-flex justify-content-center gap-1 gap-sm-2 gap-md-4" style=" height: 120px; flex: 1;">
            <div v-for="(set, index) in sets"
                 :key="index"
                 class="score-box d-flex flex-column justify-content-between align-items-center rounded text-center h-100">
                <div class="score-player">{{ set[0] }}</div>  <!-- Giocatore 1 -->
                <div class="set-label">{{ index + 1 }}</div> <!-- Etichetta -->
                <div class="score-player">{{ set[1] }}</div>          <!-- Giocatore 2 -->
            </div>
        </div>
    </div>

    <!--Secondo card-->
    <div class="tennis-card p-4 py-5 rounded-4 bg-white mt-3 mb-1 position-relative">
        <div class="position-absolute m-2 d-flex align-items-center" style="top: 0px; left: 13px;">
            <span class="text-danger fw-bold">LIVE</span>
            <div class="ms-2 live-dot"></div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex">
                <img src="~/images/Bronze.svg" style="width: 28px; height: 28px;" />
                <span class="ms-3">R. Medri</span>
                <img class="ms-2" src="~/images/ToServe.svg" />
            </div>
            <div class="d-flex gap-2 pe-3">
                <span class="fw-bold">6</span><span>3</span><span class="fw-bold">6</span><span>5</span>
            </div>
        </div>
        <div class="d-flex align-items-center mb-2">
            <hr class="separator">
            <div class="d-flex gap-2 me-1">
                <span class="styled-span">1</span><span class="styled-span">2</span><span class="styled-span">3</span><span class="styled-span">4</span><span class="styled-span">5</span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <img src="~/images/Bronze.svg" style="width: 28px; height: 28px;" />
                <span class="ms-3">T. Bagnolini</span>
            </div>
            <div class="d-flex gap-2 pe-3">
                <span>3</span><span class="fw-bold">6</span><span>4</span><span>4</span>
            </div>
        </div>
    </div>


    <!--Terzo card-->
    <div class="tennis-card p-4 py-5 rounded-4 bg-white mt-5">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex">
                <img src="~/images/Gold.svg" style="width: 28px; height: 28px;" /><span class="ms-3">F. Lutterotti</span>
            </div>
            <div class="d-flex gap-2 pe-0">
                <span>5</span><span class="fw-bold">6</span><span>2</span><span class="fw-bold">6</span><span>5</span>
            </div>
        </div>
        <div class="d-flex align-items-center mb-2">
            <hr class="separator">
            <div class="d-flex gap-2 me-1">
                <span class="styled-span">1</span><span class="styled-span">2</span><span class="styled-span">3</span><span class="styled-span">4</span><span class="styled-span">5</span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <img src="~/images/Gold.svg" style="width: 28px; height: 28px;" /><span class="ms-3 fw-bold">A. Alessandro</span>
            </div>
            <div class="d-flex gap-2 pe-0">
                <span class="fw-bold">7</span><span>1</span><span class="fw-bold">6</span><span>3</span><span class="fw-bold">7</span>
            </div>
        </div>
    </div>

    <!--Quarto card-->
    <div class="tennis-card p-4 py-5 rounded-4 bg-white mt-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex">
                <img src="~/images/Silver.svg" style="width: 28px; height: 28px;" /><span class="ms-3 fw-bold">G. Monfils</span>
            </div>
            <div class="d-flex gap-2 pe-3">
                <span class="fw-bold">6</span><span>3</span><span class="fw-bold">6</span><span class="fw-bold">6</span>
            </div>
        </div>
        <div class="d-flex align-items-center mb-2">
            <hr class="separator">
            <div class="d-flex gap-2 me-1">
                <span class="styled-span">1</span><span class="styled-span">2</span><span class="styled-span">3</span><span class="styled-span">4</span><span class="styled-span">5</span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <img src="~/images/Silver.svg" style="width: 28px; height: 28px;" /><span class="ms-3">M. Berrettini</span>
            </div>
            <div class="d-flex gap-2 pe-3">
                <span>3</span><span class="fw-bold">6</span><span>4</span><span>4</span>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <script src="~/js/bundle-vue.js" asp-append-version="true"></script>

    <script type="text/javascript">
        new Vue({
            el: '#pageId',
            data: {
                selectBtn: -1,
                sets: [
                  [6, 3],
                  [3, 6],
                  [6, 4],
                  [6, 4],
                  [5, 7]
                ]
            },
        });
    </script>
}

@section Styles {
    <style>
        .styled-span {
            font-size: 14px;
            color: #206B6A;
        }

        .player-icon {
            width: 32px;
            height: 32px;
        }

        .separator {
            border: none;
            height: 1px;
            background-color: #333;
            width: 100%;
        }

        .col-name {
			flex: 0 0 60%;
        }

        @@media (max-width: 425px) {
			.col-name {
				flex: 0 0 40%;
		    }
        }

        .score-box {
            background-color: #f8f9fa;
            min-width: 30px;
			height: 100%;
        }

        .set-label {
            font-size: 0.75rem;
        }

        .score-player {
            font-size: 1rem;
            line-height: 1.2;
        }
    </style>
}