<div>
    <header>
        <button>Nav Button</button>
        <h1>LOGO</h1>
        <button>Accedi</button>
        <button>Iscriviti</button>
        <h1>Il sito che organizza i migliori tornei in Italia</h1>
        <h2>Pronto per una nuova sfida</h2>
        <button>Partecipa Ora</button>
    </header>

    <div class="top-players">
        <h2>Top Players</h2>
        <div>
			<img class="player-img" />
			<p>Mario Rossi</p>
			<p>Punteggio: 2300</p>
			<img class="palyer-rank-img" />
        </div>
    </div>
    <div class="prossimi-tornei">
        <h2>Prossimi Tornei</h2>
        <div>
            <img class="torneo-img"/>
            <p>Torneo X</p>
            <p>Dal 16-26 gennaio</p>
            <p>Circolo di Brescia</p>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/Areas/Game/Game/Game.js" asp-append-version="true"></script>

    <script lang="text/javascript">
        
    </script>
}