@model ProgettoHMI.web.Areas.Tournaments.Tournaments.IndexViewModel

@{
	ViewData["Title"] = "Index";
}

<div class="container-fluid bg-secondary vh-100">
    <h1 class="text-center pt-5 pb-4">Guarda tutti i tornei </h1>
    <div class="row">
        <div class="col-11 row">
			<div class="col-1"></div>
			<div class="dropdown tournament-md-filter col-3">
				<button class="btn btn-secondary dropdown-toggle bg-primary px-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					Città
					<span class="badge bg-light text-dark mx-1">{{ selectedCities.length > 0 ? selectedCities.length : "" }}</span>
				</button>
				<ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton1">
					<template v-for="city in cities">
						<li>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" v-model="city.selected" @@change="handleCitySelectionChange(city)" />
								<label class="form-check-label">{{ city.value }}</label>
							</div>
						</li>
					</template>
				</ul>
			</div>
			
			<div class="col-3 tournament-filter">
				<button class="btn btn-secondary dropdown-toggle bg-primary px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottomCity" aria-controls="offcanvasBottom">
					Città
					<span class="badge bg-light text-dark mx-1">{{ selectedCities.length > 0 ? selectedCities.length : "" }}</span>
				</button>
			</div>

			<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomCity" aria-labelledby="offcanvasBottomLabelCity">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasBottomLabelCity">Seleziona una o più città</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body small">
					<ul>
						<template v-for="city in cities">
							<li style="list-style-type: none;">
								<div class="form-check my-3">
									<input class="form-check-input fs-2" type="checkbox" v-model="city.selected" @@change="handleCitySelectionChange(city)" />
									<label class="form-check-label fs-2">{{ city.value }}</label>
								</div>
							</li>
						</template>
					</ul>
				</div>
			</div>




			<div class="col-1"></div>
			<div class="dropdown tournament-md-filter col-3">
				<button class="btn btn-secondary dropdown-toggle bg-primary px-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					Rank
					<span class="badge bg-light text-dark mx-1">{{ selectedRanks.length > 0 ? selectedRanks.length : "" }}</span>
				</button>
				<ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton1">
					<template v-for="rank in ranks">
						<li>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" v-model="rank.selected" @@change="handleRankSelectionChange(rank)" />
								<label class="form-check-label">{{ rank.value }}</label>
							</div>
						</li>
					</template>
				</ul>
			</div>

			
			<div class="col-3 tournament-filter">
				<button class="btn btn-secondary dropdown-toggle bg-primary px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottomRank" aria-controls="offcanvasBottom">
					Rank
					<span class="badge bg-light text-dark mx-1">{{ selectedRanks.length > 0 ? selectedRanks.length : "" }}</span>
				</button>
			</div>

			<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomRank" aria-labelledby="offcanvasBottomLabelRank">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasBottomLabelRank">Seleziona uno o più rank</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body small">
					<ul>
						<template v-for="rank in ranks">
							<li style="list-style-type: none;">
								<div class="form-check my-3">
									<input class="form-check-input fs-2" type="checkbox" v-model="rank.selected" @@change="handleRankSelectionChange(rank)" />
									<label class="form-check-label fs-2">{{ rank.value }}</label>
								</div>
							</li>
						</template>
					</ul>
				</div>
			</div>







			<div class="col-1"></div>
			<div class="dropdown col-3" style="display: inline;">
				<button class="btn btn-secondary dropdown-toggle bg-primary px-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					Data
					<span class="badge bg-light text-dark mx-1">{{ startDate != null ? 1 : "" }}</span>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<form class="m-3">
						<label for="start">Seleziona la data di inizio</label>
						<input type="date" id="start" name="start" v-model="startDate" @@change="handleStartDateChange()">
					</form>
				</div>
			</div>


		</div>
		<div class="col-1"></div>
    </div>
	<div class="pt-5"></div>
	<div>
		<template v-for="data in model.tournaments" >
			<div class="container-fluid bg-white py-4 rounded-4">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-8">
						<div class="pb-2"></div>
						<a href="@Url.Action(MVC.Tournaments.Tournaments.Draw())" class="h4">{{ data.name }}</a>
					</div>
					<div class="col-3">
						<img v-if="data.rank == 'Bronze'" src="~/images/Bronze.svg" alt="icona rank">
						<img v-if="data.rank == 'Diamond'" src="~/images/Diamond.svg" alt="icona rank">
						<img v-if="data.rank == 'Silver'" src="~/images/Silver.svg" alt="icona rank">
						<img v-if="data.rank == 'Gold'" src="~/images/Gold.svg" alt="icona rank">
					</div>
				</div>
			</div>
			<div class="pb-3"></div>
		</template>
	</div>
	
	<div class="pb-5"></div>
</div>

@section scripts {
	<script src="~/js/bundle-vue.js" asp-append-version="true"></script>
	<script src="~/Areas/Tournaments/Tournaments/Index.js" asp-append-version="true"></script>

	<script type="application/json" id="Seed_JSON">
		@Html.Raw(Model.ToJson())
	</script>
	
	<script type="text/javascript">
		var viewModel = new Tournaments.Tournaments.indexViewModel(JSON.parse(document.getElementById("Seed_JSON").innerText))

		var vueModel = new Vue({
			el: '#pageId',
			data: viewModel
		});
	</script>
}